.root {
  position: relative;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 50px 15px;
}

.root:after {
  display: block;
  content: '';
  clear: both;
}

.title {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.border {
  border: 1px solid #EFEFEF;
  margin-bottom: 30px;
}

.row {
  width: 100%;
}

.prompt {
  width: 100%;
}

.eligibility {
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .prompt {
    width: 60%;
    float: left;
  }
}

.copy {
  max-width: 520px;
  margin-bottom: 50px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #777777;
}

.details {
  display: none;
  float: right;
  padding-top: 74px;
  width: 40%;
}

@media (min-width: 1024px) {
  .details {
    display: block;
  }
}
