.root {
  position: relative;
  width: 100%;
}

.root:after {
  display: block;
  content: '';
  clear: both;
}

.title {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.border {
  border: 1px solid #EFEFEF;
  margin-bottom: 30px;
}

.row {
  display: inline-block;
  width: 100%;
}

.rowcontent {
  max-width: 1050px;
  margin: 0 auto;
  padding: 50px 15px;
}

.prompt {
  width: 100%;
}

.eligibility {
  margin-bottom: 50px;
  width: 100%;
}

.providernote {
  width: 100%;
}

.copy {
  max-width: 520px;
  margin-bottom: 50px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  white-space: pre-line;
}

.details {
  display: none;
  float: right;
  padding-top: 74px;
  width: 45%;
}

/* Turn row-wide elements
 * into cols at 1024px */
@media (min-width: 1024px) {
  .prompt,
  .eligibility {
    float: left;
    width: 50%;
  }

  .providernote {
    float: right;
    width: 45%;
  }

  .details {
    display: block;
  }
}
