<% i ||= 0; i += 1   # define index for label; start at 1 %>

<div class="nested-fields">
  <div class="row">
    <div class="application-question field">
      <%= f.label "Question ##{i}" %>
      <div class="col-container">
        <div class="col-x3">
          <%= f.text_area :prompt, required: true, class: "full", placeholder: 'Enter your question for students here (for example, "Explain your financial need.")' %>
        </div>
        <div class="comment col">
          <%= link_to_remove_association "Delete", f %>
        </div>
      </div>
    </div>
  </div>
</div>
