<% i ||= 0; i += 1 # provide a default for the index of the Award; index starting at 1 %>

<div class="nested-fields association-container">
  <div class="row">
    <div class="field required">
      <%= f.label "Award ##{i} Amount" %>
      <div class="col-container">
        <div class="col">
          <%= f.number_field :amount, required: true, class: "award-amount", placeholder: '$ ' %>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden delete-association-btn-container">
    <%= link_to_remove_association "Delete", f, class: 'delete-association-btn' %>
  </div>
</div>
