<div class="nested-fields association-container location-limitation">
  <div class="col-x15">
    <%= f.text_field :city, placeholder: 'City (optional)' %>
  </div>
  <div class="col-x15">
    <%= f.text_field :state, placeholder: 'State' %>
    <span class="remove-link">
      <%= link_to_remove_association "X", f, class: 'delete-association-btn' %>
    </span>
  </div>
</div>
