<div class="nested-fields supplemental-requirement">
  <div class="row">
    <div class="col-container full">
      <div class="col">
        <%= f.text_field :title, placeholder: 'Document Title' %>
      </div>
      <div class="col comment">
        Add supplemental required documents<br>i.e. "Parents' W-2 Form"
      </div>
      <div class="col-x05">
        <%= link_to_remove_association "X", f, class: 'delete-association-btn' %>
      </div>
    </div>
  </div>
</div>
