<div class="nested-fields supplemental-requirement">
  <div class="flex flex-row flex-wrap">
    <div class="flexed flex-4">
      <%= f.text_field :title, placeholder: 'Document Title', class: 'input' %>
    </div>
    <div class="comment flexed flex-4 flex-center-item">
      Add supplemental required documents not included above
    </div>
    <div class="comment flexed flex-2 flex-center-item">
      <%= link_to_remove_association "X", f, class: 'delete-association-btn' %>
    </div>
  </div>
</div>
