<% content_for :form_header do %>
  <p class="form-title">General Scholarship Details</p>
  <p class="form-legend">* Required</p>
<% end %>

<%= render layout: 'form' do |f| %>
  <%= render partial: 'general_fields', locals: { f: f } %>
<% end %>
