.root {
  padding-bottom: 50px;
}

.row {
  composes: row from '../style.css';
}

.label {
  composes: label from '../style.css';
  width: 100%;
}

.field {
  composes: field from '../style.css';
}

.input {
  composes: input from '../style.css';
}

.copy {
  composes: copy from '../style.css';
}

.tallrow {
  composes: tallrow from '../style.css';
}

.medrow {
  composes: medrow from '../style.css';
}

.textarea {
  composes: textarea from '../style.css';
}

.widefield {
  composes: widefield from '../style.css';
}

.wideinput {
  composes: wideinput from '../style.css';
}

.row + .tallrow {
  margin-bottom: 0;
}
