<%= render "shared/menu" %>
<div class="has-navigation">
  <div class="indiegogo share">
    <h1> Hey  Pique Supporter! </h1>
    <p>
      We want to thank you again for backing our Indiegogo campaign and helping us
      get one step closer to bringing Pique to life. Because of you, we will be able
      to make good our on mission of making higher education more accessible to
      students.
    </p>
    <p>
      So what's next? Well, it's time to get a little social!
      So please take the time and help us spread some Pique Love.
    </p>
    <p>
      Thank you again for your amazing support and lookout for an update from our team!
    </p>
    <p>
      The Pique Team
    </p>
    <p>
      Equity. Access. Tech. Innovation. Love.
    </p>
    <%= react_component('ShareProgress') %>
  </div>
</div>

<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.facebook.com/getpique">Share on Facebook</a>
<a href="https://twitter.com/getpique">Share on Twitter</a>
