.root {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 55px;
  background-size: cover;
  background-image: linear-gradient(-229deg, rgba(23, 127, 255, 0.8) 1%, rgba(18, 159, 199, 0.8) 27%, rgba(5, 250, 39, 0.8) 100%);
}
