.root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.image {
  display: inline-block;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 3px;
}

.header {
  composes: header from '../style.css';
}

.box {
  composes: box from '../style.css';
}

.name {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #020f3c;
}

.info {
  display: inline-block;
  height: 36px;
  vertical-align: top;
}

.comments {
  composes: box from '../style.css';
  height: auto;
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 15px;
}

.comment {
  border-bottom: 1px solid #f2f3f4;
  padding-bottom: 15px;
  padding-top: 10px;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.message {
  margin-top: 5px;
  font-weight: 400;
}

.score {
  font-size: 14px;
  color: #444343
}
