<% content_for :form_header do %>
  <p class="form-title">General Scholarship Details</p>
  <p class="form-legend">* Required</p>
<% end %>

<%= render layout: 'providers/scholarships/steps/form', locals: { submit_path: providers_scholarships_path } do |f| %>
  <div class="row">
    <div class="field required">
      <%= f.label 'Scholarship Title' %><span class="asterisk">*</span>
      <%= f.text_field :title, required: true, class: "full" %>
    </div>
  </div>
<% end %>
