<div class="auth navigation">
  <div class="root">
    <div class="brand">
      <a href="<%= root_path %>">
        <%= react_component('LogoLrg', { className: 'navigation logo' }) %>
      </a>
    </div>
  </div>
</div>
