<div class="navigation">
  <div class="fill root">
    <div class="brand">
      <%= react_component('Logo', { className: 'navigation logo' }) %>
      <%= link_to "Pique", root_path %>
    </div>
  </div>
</div>
