.root {
  position: relative;
  width: 100%;
  min-height: 160px;
  max-width: 700px;
  margin: 0;
}

.image {
  display: inline-block;
  position: relative;
  float: left;
  background-size: 120%;
  background-color: #fff;
  border-radius: 8px;
  background-position-y: 50%;
  background-position-x: 50%;
  height: 160px;
  width: 160px;
  margin-right: 10px;
  top: -60px;
  border: 6px solid #FFFBFB;
}

.info {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 5px auto;
}

.name {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.desc {
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  margin-bottom: 5px;
}

.icons {
  display: inline-block;
}

.location,
.highschool,
.gpa,
.birthdate {
  color: #a0a0a0;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
  margin-right: 14px;
}

.pin {
  display: inline-block;
  text-endering: optimizeLegibility;
  height: 16px;
  width: 16px;
}

.gradcap {
  display: inline-block;
  height: 19px;
  width: 19px;
  margin: 0 6px 0 0;
  opacity: .84
}

.book {
  display: inline-block;
  height: 15px;
  width: 13px;
  margin: 0 6px 0 1px;
}

.calendar {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 6px 0 0;
  opacity: 0.56;
}
