<% @is_react_page = true %>
<% content_for :navbar do %>
  <div></div>
<% end %>

<%# no props - store is obtained by the component. %>
<%# NB: store must exist previously (`redux_store` helper in controller or view) %>
<%= react_component('Root') %>
