<div id="app">
  <% @applicants.each do |k,v| %>
    <% v.each do |a| %>
      <div>
        <br>
        <%= a %>
      </div>
    <% end %>
    <div>
      <%= @user.to_json %>
    </div>
  <% end %>

  <%# no props - store is obtained by the component. %>
  <%# NB: store must exist previously (`redux_store` helper in controller or view) %>
  <%= react_component('Root') %>
</div>
