.root {
  padding: 0 0 40px;
}

.copy {
  composes: copy from '../style.css';
}

.subtitle {
  max-width: 520px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #777777;
}

.btns {
  margin-bottom: 20px;
}

.btn {
  composes: btn from 'containers/Protected/Common/IndividualScholarships/style.css';
}

.text {
  margin-bottom: 30px;
  white-space: pre-line;
}
