<div class="edit-org-page page-container">
  <p class="header">
    Edit Scholarship Organization
  </p>

  <div class="form-container">
    <div class="form-header">
      <p class="form-title">General Organization Details</p>
      <p class="form-legend">* Required</p>
    </div>

    <div class="form-body">
      <%= form_for @organization, url: providers_organization_path do |f| %>
        <%= render partial: 'organization_fields', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>
