@import 'vars';

#account-info {
  .filepicker-wrapper {
    bottom: 0px;
  }

  #filepicker-img-overlay {
    height: 120px;
    left: 11px;
    width: 120px;
  }

  .upload-btn {
    margin: 24px 0;
    top: 0;
  }

  .col {
    vertical-align: top;
  }

  #profile-picture {
    height: 120px;
  }
}
