@import 'vars';

#account-info,
#edit-account-info {
  #filepicker-img-overlay {
    height: 120px;
    left: 11px;
    width: 120px;
  }

  .upload-btn {
    margin: 24px 0;
    top: 0;
  }

  .col {
    vertical-align: top;
  }

  #profile-picture {
    height: 120px;
  }

  .flash {
    display: block;
    min-height: 3em;
    line-height: 3em;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    text-align: center;
  }
}

#edit-account-info {
  .actions {
    padding: 56px 0;
  }
}
