@import '_vars';

$col-width: 26%;
$col-container-width: 70%;
$form-width: 70%;
$full-input-width: 60%;
$row-height: 30px;

.page-container {
  font-size: $font-size-md;
  height: 100%;

  .header {
    background-color: $white;
    color: $pastel-blue;
    font-size: $font-size-xl;
    font-weight: 100;
    height: 150px;
    line-height: 150px;
    margin: 0;
    max-width: 100%;
    text-align: center;
  }
}

.form-container {
  background-color: $white;
  padding: 20px 40px;
  margin: 60px auto;
  width: $form-width;

  .form-header {
    border-bottom: 1px solid #d3d3d3;
    font-weight: $font-weight-bold;
    margin: 0 32px 20px;
  }

  .form-title {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }

  .form-subtitle {
    font-weight: $font-weight-bold;
  }

  .form-legend {
    color: $strong-red;
    margin-top: 0;
  }

  .form-body {
    padding: 1px 0 36px;
    margin: 0 32px 20px;
  }

  .row {
    height: $row-height;
    display: inline-block;
    margin: 18px 0;
    width: 100%;

    label {
      display: inline-block;
      font-weight: $font-weight-bold;
      line-height: $row-height;
      padding: 0 36px 0 0;
      text-align: right;
      width: 1.3 * $col-width;
    }

    input,
    select {
      height: $row-height;
      font-size: $font-size-md;
    }

    textarea {
      height: 3 * $row-height;
      font-size: $font-size-md;
    }

    .full {
      display: inline-block;
      width: $full-input-width;
    }

    .col-container {
      position: relative;
      margin-left: 1.3 * $col-width;
      width: $col-container-width;
    }

    .col-container.full {
      margin: 0 32px;
      width: 94%;
    }

    .col {
      display: inline-block;
      margin: 0 5% 0 0;
      position: relative;
      width: $col-width;
    }

    .col-x15 {
      display: inline-block;
      margin: 0;
      position: relative;
      vertical-align: top;
      width: 1.5 * $col-width;
    }

    .col-x2 {
      display: inline-block;
      margin: 0 5% 0 0;
      position: relative;
      width: 1.5 * $col-width;
    }

    .col-x3 {
      display: inline-block;
      margin: 0 5% 0 0;
      position: relative;
      width: 2.5 * $col-width;
    }

    .comment {
      color: $light-grey;
      display: inline-block;
      font-size: $font-size-sm;
      text-align: left;
      vertical-align: top;
    }

    .nested-fields {
      margin: 18px 0;
    }

    .inline-label {
      font-size: $font-size-md;
      font-weight: 400;
      float: right;
      line-height: 34px;
      padding: 0 9px;
      text-align: left;
      width: 65%;
    }

    .col-x15 .inline-label {
      line-height: 32px;
      width: 83%;
    }

    .half-col {
      display: inline-block;
      position: relative;
      width: 48%
    }

    .required > label:after {
      content: "*";
      color: $strong-red;
    }

    #race-ethnicity-requirements {
      vertical-align: top;
    }

    .area-of-study {
      display: inline;
      line-height: 32px;
      position: relative;
    }

    .location-limitation {
      margin: 0 0 14px 0;
    }

    .remove-link {
      padding-left: 24px;
      position: relative;
      display: inline-block;
    }
  }

  .row.grow {
    height: 100%;
  }

  .btns {
    padding: 24px 32px 40px;
  }

  .btn {
    background-color: $emerald;
    border-radius: 4px;
    border: none;
    color: $white;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 500;
    font-size: $font-size-md;
    line-height: 20px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    transition: 0.1s all ease-in;
    user-select: none;
    width: 25%;
  }

  .delete-association-btn {
    color: $light-grey;
    font-size: $font-size-md;
    vertical-align: top;
  }

  // Scholarship-specific styles and classes

  #photo-row {
    height: 120px;
  }

  #filepicker-input {
    display: none;
  }

  .filepicker-wrapper {
    height: 100%;
    position: relative;
    display: inline-block;
  }

  .upload-btn {
    background-color: $white;
    border: 1px solid $faded-grey;
    border-radius: 2px;
    color: $black;
    display: inline-block;
    font-size: $font-size-md - 1;
    height: $row-height;
    position: relative;
    top: 16px;
    width: 120px;
  }

  #filepicker-img-overlay {
    background-color: $light-grey;
    height: 100px;
    left: 10px;
    position: relative;
    width: 160px;
    z-index: 1;
  }

  #filepicker-img-overlay img {
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
  }

  .fade {
    opacity: 0.25;
  }

  .dollar-sign {
    content: "$ ";
    color: $black;
    font-size: $font-size-md;
    position: relative;
    left: $col-width / 2;
    bottom: $col-width / 4;
  }

  #add-prompt {
    color: $light-grey;
    font-size: $font-size-sm;
  }

  .list-unstyled {
    list-style-type: none;
    padding: inherit;
  }

  .actions {
    padding: 56px 0 28px;

    .btn {
      width: 148px;
    }

    .submit-btn {
      background-color: $pastel-blue;
      border-radius: 2px;
      color: $white;
      height: 46px;
      margin-left: 20px;
    }

    .submit-btn-inverse {
      background-color: $white;
      border-radius: 2px;
      border: 1px solid $pastel-blue;
      color: $pastel-blue;
      margin-left: 20px;
    }
  }

  .essay-requirements {
    .row .field textarea.full {
      width: 105%;
    }
  }

  /*************************/
  /* Application Questions */
  /*************************/

  .flex {
    display: flex;
  }

  .flex.flex-column {
    flex-direction: column;
  }

  .flex.flex-row {
    align-items: baseline;
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex.flex-nowrap {
    flex-wrap: nowrap;
  }

  .flex.flex-start {
    justify-content: flex-start;
  }

  .flex.flex-center {
    justify-content: center;
  }

  .flex.flex-space-between {
    justify-content: space-between;
  }

  .flex.flex-space-around {
    justify-content: space-around;
  }

  .form-header.in-form-header {
    margin: 0 0 20px;
  }

  .flexed.flex-1 {
    flex: 1;
  }

  .flexed.flex-2 {
    flex: 2;
  }

  .flexed.flex-3 {
    flex: 3;
  }

  .flexed.flex-4 {
    flex: 4;
  }

  .flexed.flex-6 {
    flex: 6;
  }

  .flexed.flex-8 {
    flex: 10;
  }

  .flexed.flex-10 {
    flex: 10;
  }

  .flexed.flex-center-item {
    align-self: center;
  }

  .flex.grow {
    height: 100%;
  }

  #general-application-questions {
    height: 50%;
  }

  #general-application-questions,
  #general-supplemental-requirements,
  #supplemental-requirements {
    display: flex;
    margin-bottom: 72px;
  }

  // Flex modifiers - eventually refactor out
  #general-application-questions,
  #application-questions,
  #general-supplemental-requirements,
  #supplemental-requirements,
  #org-provided-documents {
    .inline-label {
      font-size: 12px;
      margin-left: 2em;
    }

    .left-bar {
      width: 30%;
    }

    .main {
      width: 70%;
    }

    .label {
      font-weight: $font-weight-bold;
      width: 30%;
    }

    .input {
      font-size: $font-size-md;
      height: $row-height;
    }

    .full {
      width: 100%;
    }

    .col-container {
      height: 3 * $row-height;
      width: 70%;
    }

    .col-container.grow {
      height: 100%;
    }

    .col-container .col-item {
      line-height: 1.5em;
      width: 40%;
    }

    .comment {
      color: $light-grey;
      padding-left: 0;
    }

    .filepicker-wrapper > .upload-btn {
      top: 0px;
      width: 172px;
    }

    button.filepicker-input.upload-btn {
      cursor: pointer;
      overflow-x: hidden;
    }
  }

  #application-questions,
  #supplemental-requirements,
  #general-supplemental-requirements,
  #org-provided-documents {
    .links {
      position: relative;
      left: 100% - $col-container-width;
      width: $col-container-width;
    }

    .org-provided-document {
      height: 3em;
    }

    .supplemental-requirement {
      height: 3em;
    }

    .add-association-btn {
      height: 36px;
      padding-left: 4px;
      vertical-align: middle;
    }
  }

  #general-supplemental-requirements {
    min-height: 10vh;
    height: 100%;
  }

  #supplemental-requirements {
    min-height: 10vh;
    height: 100%;
  }

  #org-provided-documents {
    min-height: 10vh;
    height: 100%;
  }

  #application-questions {
    .comment {
      text-align: center;
    }
  }
}

/*
 *  ORG CREATION PAGE
 */
.create-org-page,
.edit-org-page {
  .photo-row {
    height: 88px;
  }

  #filepicker-img-overlay {
    left: 35px;
    height: 100px;
    width: 100px;
  }

  .filepicker-wrapper > .upload-btn {
    top: -6px;
  }

  button.filepicker-input.upload-btn {
    cursor: pointer;
    overflow-x: hidden;
  }
}

