@import '_vars';

// Shared - Layout
body {
  background-image: $pique-bg-gradient;
  min-height: 900px;
}

.body-container {
  padding-top: $navbar-height;
}

.flash {
  background-color: transparent;
  position: relative;
  z-index: 10;

  p {
    background-color: $white;
    color: $black;
    margin: 0;
    position: absolute;
    width: 100%;
  }

  .alert {
    background-color: $white;
    color: $strong-red;
  }

  .notice {
    background-color: $emerald;
    color: $white;
  }
}

// Shared - Forms
.row {
  display: inline;
  height: 45px;
  margin-bottom: 20px;
}

.row input,
.row textarea {
  border: 1px solid $lavender;
  border-radius: 5px;
  box-shadow: none;
  color: $black;
  font-size: 15px;
  font-weight: 300;
  height: 45px;
  outline-style: none;
  padding: 0 15px;
}

.row textarea {
  padding: 10px 15px;
}

.row input:focus,
.row textarea:focus {
  border: 1px solid $royal-blue;
  box-shadow: none;
}

input::-webkit-input-placeholder {
  color: $lavender;
}
input:-moz-placeholder {
  color: $lavender;
  opacity: 1;
}
input::-moz-placeholder {
  color: $lavender;
  opacity:  1;
}
input:-ms-input-placeholder {
  color: $lavender;
}
