@import '_vars';

/*
 * Global CSS Classes.
 */
.hidden {
  display: none;
}

.success {
  color: $emerald !important;
}

.error {
  color: $strong-red !important;
}

.break-word {
  word-break: break-word;
}

/*
 * Global Element Styles
 */
a {
  text-decoration: none;
}

/*
 * Shared Styles - Layout.
 */
body {
  background-image: $pique-bg-gradient;
  font-family: $font-neue;
}

.flash {
  background-color: transparent;
  position: relative;
  z-index: 10;
  -webkit-animation: fadeout 10s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 10s ease-in; /* Firefox < 16 */
  -ms-animation: fadeout 10s ease-in; /* Internet Explorer */
  -o-animation: fadeout 10s ease-in; /* Opera < 12.1 */
  animation: fadeout 10s ease-in;

  p {
    background-color: $white;
    color: $black;
    margin: 0;
    position: absolute;
    width: 100%;
  }

  &.alert {
    color: $white;
    background-color: $strong-red;
  }

  &.notice {
    color: $white;
    background-color: $emerald;
  }
}

/*
 *  ANIMATIONS
 */
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
 *
 * Shared Styles - Forms.
 *
 */

.row {
  display: inline;
  height: 45px;
  margin-bottom: 20px;
}

.row input,
.row textarea,
.row select,
.input {
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: none;
  color: $black;
  font-size: 15px;
  font-weight: 300;
  height: 45px;
  outline-style: none;
  padding: 0 15px;
}

.row select {
  width: 58%;
}

.row textarea {
  padding: 10px 15px;
}

.row input:focus,
.row textarea:focus,
.row select:focus,
.input:focus {
  border: 1px solid $royal-blue;
  box-shadow: none;
}

.input::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $lavender;
}
.input:-moz-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $lavender;
  opacity: 1;
}
.input::-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $lavender;
  opacity:  1;
}
.input:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $lavender;
}

textarea {
  resize: none !important;
}

.comment {
  color: $light-grey;
  display: inline-block;
  font-size: $font-size-sm;
  padding-left: 5px;
  text-align: left;
  vertical-align: top;
}

