// Colors
$black: #000;
$emerald: #3cd070;
$lavender: #b2bcd3;
$pastel-blue: #44bcef;
$royal-blue: #4570f0;
$royal-purple: #132663;
$strong-red: #ce2029;
$white: #fff;

// Fonts
$font-avenir: 'Avenir Next', sans-serif;

// Font-size
$font-size-md: 14px;
$font-size-lg: 32px;

// Font-weight
$font-weight-bold: 600;

// Shared Elements
$navbar-height: 54px;
$pique-bg-gradient: linear-gradient(-229deg, rgba(23,127,255,.80) 1%, rgba(18,159,199,.80) 27%, rgba(5,250,39,.80) 100%);
