/*
 * *****************  WHAT IS THIS FILE?  ***************************************************************************************
 *
 * `app/assets/application_non_webpack.scss`
 *
 * COMPARE TO: app/assets/application_static.scss:
 * - `application_non_webpack` (this file) is the 'standard' application.scss - for all app-wide styles, nested stylesheets, and imports.
 * - `application_static.scss` loads **Webpacked CSS**, but in a static manner:
 *    (i.e.: it's your component modular CSS styles, but only when you're not hot reloading.)
 *    (Hot reloading will load them in for you, so you don't need `application-static.scss`.)
 *
 * *********************************************************************************************************
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * All app-wide stylesheets; store in containing folder to avoid import loops between this file and `application_static.scss`
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap-custom';
 @import 'bootstrap-datetimepicker';

 @import 'vars';
 @import 'globals';
 @import 'linked/**/*';

 body {
   margin: 0px;
 }
 .has-navigation {
   margin-top: 75px;
   padding: 0 24px 0 24px;
 }
