// Place all the styles related to the indiegogo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indiegogo.share {
  margin: 0 auto;
  text-align:center;
  max-width:890px;
}
button.facebook {
  background-color: #3b5998;
  color: #fff;
}
button.twitter {
  background-color: #4099FF;
  color: #fff;
}
.bottom {
  bottom: 0;
  height: 25px;
}
