// Place all the styles related to the indiegogo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indiegogo.share {
  margin: 0 auto;
  text-align:center;
  padding: 0 24px 0 24px;
  max-width:890px;
  width:100%;
}
