.comment {
  composes: comment from '../style.css';
}

.input {
  composes: input from '../style.css';
}

.xsinput {
  composes: input;
  display: inline-block;
  height: 28px;
  margin-right: 10px;
  vertical-align: top;
  width: 45px;
}

.input::placeholder,
.xsinput::placeholder {
  color: #a8a8a8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
  composes: btn from '../style.css';
}

.card {
  border: 1px solid #979797;
  border-radius: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: inline-block;
  width: 40%;
}

.cardheader {
  background-image: linear-gradient(229deg, #44BCEF 1%, #3FB2EE 11%, #195AE1 100%);
  border-bottom: 1px solid #a8a8a8;
  color: #fff;
  padding: 7px 28px;
  width: 100%;
}

.fields {
  padding: 18px 0 0 0;
}

.field {
  margin: 4px 28px;
}

.cardrow {
  display: block;
  color: #000;
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}

.shortrow {
  composes: cardrow;
  height: 28px;
  font-size: 11px;
  line-height: 28px;
}

.cardfooter {
  composes: cardrow;
  height: 51px;
  margin-top: 11px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 18px;
}

.cardleft {
  display: inline-block;
  float: left;
  text-align: left;
  width: 50%
}

.cardright {
  display: inline-block;
  float: right;
  text-align: right;
  width: 50%;
}

.score {
  display: inline-block;
  overflow-x: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 36px;
  white-space: nowrap;
}

.a {
  cursor: pointer;
}

.remove {
  composes: a;
  color: #C71C1C;
}
