.comment {
  composes: comment from '../style.css';
}

.input {
  composes: input from '../style.css';
}

.xsinput {
  composes: input;
  display: inline-block;
  margin-right: 10px;
  width: 84px;
}

.input::placeholder,
.xsinput::placeholder {
  color: #a8a8a8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
  composes: btn from '../style.css';
}

.card {
  border: 1px solid #979797;
  border-radius: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: inline-block;
  width: 40%;
}

.cardheader {
  background-color: #44BCEF;
  border-bottom: 1px solid #a8a8a8;
  color: #fff;
  padding: 7px 28px;
  width: 100%;
}

.cardrow {
  display: block;
  color: #000;
  height: 48px;
  line-height: 48px;
  margin: 11px 28px;
  font-weight: 500;
}

.cardfooter {
  composes: cardrow;
  margin-top: 14px;
  margin-bottom: 21px;
}

.cardleft {
  display: inline-block;
  float: left;
  text-align: left;
  width: 50%
}

.cardright {
  display: inline-block;
  float: right;
  text-align: right;
  width: 50%;
}

