@import '_vars';

.auth-root {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.signup-root,
.signin-root {
  background-color: $white;
  border-radius: 0;
  box-shadow: 0 5px 33px rgba(39, 39, 39, 0.5);
  left: 0;
  margin: 0 auto;
  max-height: 600px;
  max-width: 400px;
  padding: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 120px;
  transition: all 0.2s ease-in-out;
  z-index: 2001;
}

.signup-root,
.signin-root {
  .header {
    border-bottom: 1px solid $pastel-blue;
    color: $pastel-blue;
    display: inline-block;
    margin: 0 auto;
    font-family: $font-avenir;
    font-weight: 200;
    font-size: $font-size-md;
    padding: 8px 0;
  }

  .row input {
    margin-bottom: 16px;
  }

  .full {
    width: 92%;
  }

  .firstname {
    float: left;
    width: 40%;
  }

  .lastname {
    float: right;
    width: 40%;
  }

  .btns {
    height: 75px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
  }

  .btn {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: $font-avenir;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    transition: 0.1s all ease-in;
    user-select: none;
    width: 46%;
  }

  .checkbox-container {
    left: 0.5px;
    margin-bottom: 3px;
    position: relative;
    text-align: left;
  }

  .checkbox {
    font-size: 1.2em;
    vertical-align: middle;
  }

  .checkbox-label {
    color: $lavender;
    font-family: $font-avenir;
    font-size: .95em;
    font-weight: 400;
    position: relative;
    top: .15em;
  }

  .submit {
    float: left;
    color: $white;
    border: 1px solid $emerald;
    background-color: $emerald;
  }

  .submit:hover {
    color: $emerald;
    border: 1px solid $emerald;
    background-color: $white;
  }

  .switch {
    float: right;
    color: $pastel-blue;
    border: 1px solid $pastel-blue;
    background-color: $white;
  }

  .switch:focus,
  .switch:active {
    outline: none;
    color: $pastel-blue;
    border: 1px solid $pastel-blue;
    background-color: $white;
  }

  .switch:hover {
    color: $white;
    background-color: $pastel-blue;
    border: 1px solid $pastel-blue;
  }

  .notify {
    color: red;
    display: block;
    font-size: 12px;
    height: 17px;
    margin: 14px 0;
    text-align: left;
  }

  .caption {
    color: $lavender;
    display: block;
    font-family: $font-avenir;
    font-size: $font-size-md;
    line-height: 19px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    width: 290px;
  }

  .password {
    color: $lavender;
    display: block;
    font-family: $font-avenir;
    font-size: $font-size-md;
    line-height: 19px;
    margin: 0 auto;
    margin-bottom: 1px;
    position: relative;
    width: 290px;
  }

  .password a {
    color: $lavender;
    text-decoration: none;
  }
}

.signup-root {
  .header:after {
    content: 'Sign Up for Pique!';
  }

  .caption:after {
    content: "By signing up, you agree to Pique Basic rules, Terms of service, and Privacy Policy";
  }
}

.signin-root {
  .header:after {
    content: 'Welcome to Pique!';
  }

  .caption:after {
  }
}

