@import '_vars';

$col-width: 30%;
$col-container-width: 70%;
$form-width: 70%;
$full-input-width: 46%;
$row-height: 34px;

.scholarship-page {
  font-family: $font-avenir;
  font-size: $font-size-md;
  height: 100%;

  .header {
    background-color: $white;
    color: $pastel-blue;
    font-size: $font-size-xl;
    font-weight: 100;
    height: 150px;
    line-height: 150px;
    margin: 0;
    max-width: 100%;
    text-align: center;
  }
}

.form-container {
  background-color: $white;
  padding: 20px 40px;
  margin: 60px auto;
  width: $form-width;

  .form-header {
    border-bottom: 1px solid #d3d3d3;
    font-weight: $font-weight-bold;
    margin: 0 32px 20px;
  }

  .form-title {
    margin-bottom: 0;
  }

  .form-subtitle {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
  }

  .form-legend {
    color: $strong-red;
    margin-top: 0;
  }

  .form-body {
    padding: 1px 0 36px;
  }

  .row {
    height: $row-height;
    display: inline-block;
    margin: 18px 0;
    width: 100%;

    label {
      display: inline-block;
      font-weight: $font-weight-bold;
      line-height: $row-height;
      padding: 0 36px 0 0;
      text-align: right;
      width: $col-width;
    }

    input {
      height: $row-height;
      font-size: $font-size-md;
    }

    textarea {
      height: 3 * $row-height;
      font-size: $font-size-md;
    }

    .full {
      display: inline-block;
      width: $full-input-width;
    }

    .col-container {
      position: relative;
      margin-left: 1.15 * $col-width;
      width: $col-container-width;
    }

    .col {
      display: inline-block;
      margin: 0 5% 0 0;
      position: relative;
      width: $col-width;
    }

    .col-x15 {
      display: inline-block;
      margin: 0;
      position: relative;
      width: 1.5 * $col-width;
    }

    .col-x2 {
      display: inline-block;
      margin: 0 5% 0 0;
      position: relative;
      width: 1.5 * $col-width;
    }

    .comment {
      color: $light-grey;
      font-size: $font-size-sm;
      text-align: left;
      vertical-align: top;
    }

    .inline-label {
      font-size: $font-size-sm + 2px;
      font-weight: 400;
      float: right;
      line-height: 42px;
      padding: 0 9px;
      text-align: left;
      width: 47%;
    }

    .col-x15 .inline-label {
      line-height: 40px;
      width: 83%;
    }

    .half-col {
      display: inline-block;
      position: relative;
      width: 48%
    }

    .required > label:after {
      content: "*";
      color: $strong-red;
    }

    #race-ethnicity-requirements {
      vertical-align: top;
    }

    .area-of-study {
      display: inline;
      line-height: 32px;
      position: relative;
    }

    .location-limitation {
      margin: 0 0 14px 0;
    }

    .remove-link {
      padding-left: 24px;
      position: relative;
      display: inline-block;
    }

  }

  .btns {
    padding: 24px 32px 40px;
  }

  .btn {
    background-color: $emerald;
    border-radius: 4px;
    border: none;
    color: $white;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: $font-avenir;
    font-weight: 500;
    font-size: $font-size-md;
    line-height: 20px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    transition: 0.1s all ease-in;
    user-select: none;
    width: 25%;
  }

  // Scholarship-specific styles and classes
  .upload-btn {
    background-color: $white;
    border: none;
    color: $black;
  }

  .dollar-sign {
    content: "$ ";
    color: $black;
    font-size: $font-size-md;
    position: relative;
    left: $col-width / 2;
    bottom: $col-width / 4;
  }

  #add-prompt {
    color: $light-grey;
    font-size: $font-size-sm;
  }

  .list-unstyled {
    list-style-type: none;
    padding: inherit;
  }

  .actions {
    padding: 56px 0 28px;

    .submit-btn {
      background-color: $pastel-blue;
      border-radius: 2px;
      color: $white;
      height: 46px;
      margin-left: 20px;
      width: 120px;
    }

    .submit-btn-inverse {
      background-color: $white;
      border-radius: 2px;
      border: 1px solid $pastel-blue;
      color: $pastel-blue;
      margin-left: 20px;
      width: 100px;
    }
  }

  .essay-fields {
    .row .field textarea.full {
      width: 76%;
    }
  }
}

