<% content_for :navbar, render('shared/auth_navbar') %>

<div class="auth-root">
  <div class="password-root">
    <div class="header">
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <% if devise_error_messages? || alert %>
        <div class="notify">
          <%= devise_error_messages? ? devise_error_flash : alert %>
        </div>
      <% end %>

      <div class="row">
        <div class="comment">
          We'll email you instructions to reset your password.
        </div>
      </div>

      <div class="row">
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: 'you.pique@example.com', class: "full" %>
        </div>
      </div>

      <div class="btns">
        <%= f.submit "Request Reset", class: "btn submit" %>
      </div>

    <% end %>
  </div>
</div>
