.root {
  margin-top: 100px;
  border-bottom: 1px solid #EFEFEF;
}

.header {
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 50px;
  font-weight: 200;
  line-height: 60px;
  margin-bottom: 26px;
  text-align: center;
}

.subtitle {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0 16px;
  text-align: center;
}

.copy {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, san-serif;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 40px;
  padding: 0 15px;
  max-width: 600px;
  white-space: pre-line;
}

.btn {
  composes: btn from 'containers/Protected/Common/IndividualScholarships/style.css';
}

.toggle {
  color: #1698fb;
  cursor: pointer;
}

.clampabletext {
  cursor: pointer;
  width: inherit; /* expect to be set by another class */
}

.btns {
  margin: 0 auto 50px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
